body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans 0 serif;
    background-image: 0 0 linear 0 gradient(rightbottom,rgb(255,255,255) 21 % , #d1d7f0 61 % );
}

a {
    color: #00B7FF;
}

# content {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#room {
    background-color: #ddd;
    margin-bottom: 1em;
}

#messages {
    width: 600px;
    height: 600px;
    overflow: auto;
    background-color: #ccffff;
    margin-bottom: 1em;
}

#room - list {
    float: right;
    width: 100px;
    height: 300px;
    overflow: auto;
}

#room - list div {
    border-bottom: 1px solid#eee;
}

#room - list div: hover {
    background-color: #ddd;
}

#send - message {
    width: 700px;
    margin-bottom: 1em;
    margin-right: 1em;
}

#help {
    font: 10px "Lucida Grande", Helvetica, Arial, sans 0 serif;
}